*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
font-size: 15px;
background-color: var(--very-light-grey);
}
:root{
  /*primary colors */
--bright-orange: hsl(31, 77%, 52%);
--dark-cyan: hsl(184, 100%, 22%);
--very-dark-cyan: hsl(179, 100%, 13%);

/*neutral colors */
--transparent-white: hsla(0, 0%, 100%, 0.75);
--very-light-grey: hsl(0, 0%, 95%); /*background, headings, buttons */
}

.main-page-container{
display: grid;

height: 100dvh;
min-height: 100%;
justify-content: center;
align-items: center;
}
.main-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 920px;
  height: 500px;
  
}
.card-one{
display: flex;
flex-direction: column;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
 background-color: var(--bright-orange);
}
.card-two{
  
  background-color: var(--dark-cyan);
}
.card-three{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--very-dark-cyan);
}
.card-info{
  display: grid;
  grid-template-columns: 200px;
  row-gap: 30px;
 margin: 50px 0 0 50px;
}

h2{
  font-family: Big Shoulders Display;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--very-light-grey);
}
p{
  line-height: 1.7;
  color: var(--transparent-white);
  font-family: Lexend Deca;
  margin-bottom: 60px;
  font-size: 15px;
  font-weight: 400px;
}
.btn-1{
border: none;
width: 145px;
height: 50px;
border-radius: 25px;
font-family: Lexend Deca;
color: var(--bright-orange);
font-size: 15px;
cursor: pointer;
}
.btn-2{
border: none;
width: 145px;
height: 50px;
border-radius: 25px;
font-family: Lexend Deca;
color: var(--dark-cyan);
font-size: 15px;
cursor: pointer;
}
.btn-3{
border: none;
width: 145px;
height: 50px;
border-radius: 25px;
font-family: Lexend Deca;
color: var(--very-dark-cyan);
font-size: 15px;
cursor: pointer;
}
.btn-1:hover{
  color: var(--very-light-grey);
  border: 2px solid var(--very-light-grey);
  background-color: var(--bright-orange);
}
.btn-2:hover{
  color: var(--very-light-grey);
  border: 2px solid var(--very-light-grey);
  background-color: var(--dark-cyan);
}
.btn-3:hover{
  color: var(--very-light-grey);
  border: 2px solid var(--very-light-grey);
  background-color: var(--very-dark-cyan);
}
.btn-2:hover{
  color: var(--very-light-grey);
  border: 2px solid var(--very-light-grey);
  background-color: var(--dark-cyan);
}
footer{
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
}


@media (max-width: 425px) {
.main-card{
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 1325px;
  margin-top: 40px;
  margin-bottom: 40px;
  }
  .main-page-container{
  display: grid;
  height: auto;
  }
  .card-info{
  display: grid;
  grid-template-columns: 225px;
  }
  p{
    margin-bottom: 0px;
  }
  button{
    margin-bottom: 45px;
  }
  .card-one{
   border-top-right-radius: 10px;
   border-bottom-left-radius: 0px;
  }
  .card-three{
   border-top-right-radius: 0px;
   border-bottom-left-radius: 10px;
  }
}

